.container
{
    width: 80%;
    margin: auto;
    outline: solid 2px whitesmoke;
}
.title-flex
{
    display: flex;

}
.logo,
.home
{
    width: 100px;
    height: 35pt;
    outline: solid 2px chocolate;
}
.banner-flex
{
    display: flex;
}
 .texthere,
 .photos
 {

width: 50%;
    height: 100pt;
    outline: solid 2px tomato;

}
.regaudingus-flex
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    outline: solid 2px black;
    height: 100pt;
}
.achives-flex
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    outline: solid 2px hotpink;
    height: 70pt;
}
.menu-flex
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    outline: solid 2px rgb(138, 105, 255);
    height: 50pt;
}
.menu-2
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    outline: solid 2px rgb(138, 105, 255);
    height: 50pt;
}
.review-flex
{
    margin: auto;
display: flex;
width: 80%;
margin: auto;
justify-content: space-around;
height: 40pt;
outline: solid 2px blueviolet
}
.offering-flex
{
   display: flex;
    margin: auto;
    
}

.photo1,
.photo2,
.photo3
{
width: 33.33%;
margin: auto;
height: 88pt;
outline: solid 2px violet
}
.personnel-flex
{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
      width: 80%;
       margin: auto;
     height: 80pt;
     outline: solid 2px goldenrod
}
.booking-flex
{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
      width: 80%;
       margin: auto;
     height: 120pt;
     outline: solid 2px tomato
}
.gallery-flex
{
    display:flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 108pt;
}
.contact-flex
{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
      width: 80%;
       margin: auto;
     height: 120pt;
     outline: solid 3px green
    
   
}
.footer-flex
{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
      width: 80%;
       margin: auto;
     height: 50pt;
     outline: solid 3px rebeccapurple
    
   
}